.logo {
  font-size: 50px;
  margin: 50px;
  text-align: center;
}

.products {
  margin: 0 auto;
  text-align: center;
  width: 95%;
}
.products p {
  font-family: "Poiret One", sans-serif;
  font-size: 14px;
  margin: 50px;
}
.product-item {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 15px;
  min-width: 350px;
  padding: 15px;
  width: 20%;
}
.product-item:nth-child(2) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.product-item h2 {
  font-size: 20px;
}
.product-item img {
  margin: 20px 0;
  max-width: 300px;
  max-height: 250px;
}
.buy-products {
  margin-top: 30px;
}
.buy-products button {
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
}
